<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<connectionStrings>
		<add name="conn" connectionString="Server=d56e450a-d622-49b8-b749-a67f00bd6fd5.sqlserver.sequelizer.com;Database=dbd56e450ad62249b8b749a67f00bd6fd5;User ID=mvcpcfckenviqywb;Password=mm3xxfGyLbaKbLwgy28fTgpdwvBSTaaTmncUqYZwrNaemCxGkS4TaUse6XacLXNK;"/>
	</connectionStrings>
</configuration>
